body {
  margin: 0;
}
.header {
  height: 790px;
  padding: 40px;
  background-image: url("/dist/img/Livello1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: stretch;
}

.nav-logo {
  width: 50px;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-title {
  width: 500px;
  text-align: center;
  color: white;
}
